<div [formGroup]="casos" class="example-container">
    <mat-form-field appearance="fill" >
        
      <mat-label>Ciudad</mat-label>
      <input matInput formControlName="ciudad" >
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select formControlName="Sexo">
        <mat-option value="F">Femenino</mat-option>
        <mat-option value="M">Masculino</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="estado">
    </mat-form-field>
      <br>
    <button mat-button (click)="guardar()">Guardar</button>

    <p>{{mensaje}}</p>
  </div>